body {
  font-family: "montserrat";
  padding: 3rem 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
}

body .shopping-cart {
  padding-right: 3rem;
}

body .shopping-cart a {
  text-decoration: none;
  color: #ee5e69;
  font-weight: 600;
}

body .shopping-cart h1 {
  font-size: 2rem;
  color: #39191a;
}

body .shopping-cart .info1 {
  border: 1px solid #ccb6bb;
  border-radius: 1rem;
  margin: 1rem 0;
}

body .shopping-cart .info1 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 70% 20%;
      grid-template-columns: 10% 70% 20%;
  list-style: none;
  font-weight: 600;
}

body .shopping-cart .info1 ul li .cart-titles {
  text-transform: uppercase;
  color: #ccb6bb;
  font-size: .8rem;
}

body .shopping-cart .info1 ul li .cart-names {
  color: #39191a;
}

body .shopping-cart .info1 ul .cart-icons {
  padding: .5rem  .8rem;
  color: #ee5e69;
  font-weight: 600;
  font-size: 1.2rem;
}

body .shopping-cart .info1 ul .cart-buttons {
  padding-top: 2rem;
}

body .shopping-cart .info1 ul .cart-buttons a {
  color: #ccb6bb;
  text-transform: uppercase;
  font-size: .8rem;
}

body .shopping-cart .payment {
  background-color: #eeeeee;
  padding: .5rem 0;
  border-radius: 1rem;
  margin: 1rem 0;
  border: none;
}

body .shopping-cart .payment ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  font-size: .8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .shopping-cart .payment ul .payment-names {
  text-transform: uppercase;
  color: #39191a;
  font-weight: 600;
}

body .shopping-cart .payment ul .payment-icon {
  font-size: 1.2rem;
}

body .shopping-cart .payment ul li {
  list-style: none;
  color: #39191a;
}

body .shopping-cart .pm ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 10% 80%;
      grid-template-columns: 10% 10% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .shopping-cart .pm ul .pm-icon {
  font-size: 1.2rem;
}

body .shopping-cart .pm ul li {
  color: #39191a;
  font-weight: 600;
}

body .shopping-cart .pm ul li input {
  height: 25px;
  width: 25px;
}

body .shopping-cart .pm ul li i {
  color: #39191a;
  border: 1px solid #39191a;
  padding: .6rem .5rem;
  border-radius: 10px;
  width: 23px;
}

body .order {
  border: 1px solid #f1f1f1;
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  margin-top: 6rem;
}

body .order h1 {
  font-size: 1.2rem;
}

body .order .yorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1rem 0;
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
}

body .order .yorder img {
  width: 100px;
  height: 100px;
  border-radius: .5rem;
}

body .order .yorder .yorder-info {
  padding-left: 1rem;
}

body .order .yorder .yorder-info h1 {
  font-size: 1rem;
  color: #39191a;
}

body .order .yorder .yorder-info h2 {
  font-size: .9rem;
  color: #ee5e69;
}

body .order .delivery-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
}

body .order .delivery-info .di-title h1 {
  font-size: .9rem;
}

body .order .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #eeeeee;
  border-radius: 1rem;
  padding: 2rem 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
  margin-top: 1rem;
}
/*# sourceMappingURL=cart.css.map */